@media(max-width:780px){

    .container{
        width: 100%;
    }

    .header-logo h1{
        font-size: 24px;
        letter-spacing: 2px;
        padding-left: 20px;
    }

    .header-nav{
        margin-left: auto;
        padding: 10px 20px 0 0;
    }

    header{
        padding-top: 10px;
    }

    .header-right{
        padding: 18px 30px 0 0;
    }
    
    .nav-list{
        display: none;
    }

    .table{
        padding-top: 30px;
        width: 100%;
    }

    .table td{
        border: 1px solid #d9d9d9;
        text-align: center;
        padding: 10px 0;
        width: 50%;
    }

    .table a{
        letter-spacing: 2px;
        display: block;
    }

    .main-img{
        display: none;
    }

    .main-img2{
        width: 100%;
        padding-top: 50px;
    }

    .top-wrapper{
        text-align: center;
        padding-top: 50px;
    }

    .contents{
        display: block;
    }

    .myphoto{
        display: none;
    }

    .about-text{
        padding-left: 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .skill-content{
        width: 100%;
        padding-top: 20px;
    }

    .skill-text{
        text-align: center;
    }

    .work-contents img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .work-wrapper p{
        font-size: 16px;
    }

    .contact-wrapper p{
        font-size: 16px;
    }

}

@media(min-width:780px){

    .table{
        display: none;
    }

    .main-img2{
        display: none;
    }





}

